.login-container{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin-top: -100px;
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background-color: orange;*/
    background-color:transparent; 
    height: 60vh;  
    width: 40vw;
    border-radius: 20px;
  }

  .bank-name{
    font-size: 35px;
    color:green;
    text-align: center;
    margin-top: 80px;
  }
  