.transaction-details{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-color: white;*/
}

th {
  border: 1px solid rgb(254, 249, 0);
}




/*
.transaction-details {
    overflow-y: auto;
  }
  
  .transaction-details thead {
    position: sticky;
    top: 0;
    z-index: 1;
    background-color: #f7f7f7;
  }
  
  .transaction-details tbody {
    height: 300px;
    overflow-y: auto;
  }*/

  @media screen and (max-width: 576px) {
    .transaction-details{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      font-size: 12px;
      background-color: rgba(19, 17, 30, 0.5) ;
      height: 60vh;
      overflow: scroll;
  }
  .column-names{
    font-size: 13px;
}
  }
  