.tabs{
    display: flex;
    justify-content:space-around;
    background-color: transparent;
    width: 100%;
}

.button-width{
    width: 100%;
    padding: 20px;
    border: none;
    
}
.active{
    background-color: brown;
    color: white;
}

.tabs button:hover {
    cursor: pointer;
  }


  @media screen and (max-width: 576px) {
    .tabs {
        width: 280%;
        margin-top: -40px;
    }
  }
  